* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #6568f6 0%, #2023e4 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  margin-top: -20px;
  justify-content: center;
  align-items: center;
}
form input {
  height: 35px;
  width: 40%;
  font-weight: bold;
  font-size: 1rem;
}
form button {
  padding: 0.5rem;
  border: none;
  background: white;
}

form button {
  color: rgb(18, 207, 182);
  background: #f7fffe;
  margin-top: 0.5px;
  margin-bottom: 1px;

  cursor: pointer;
  padding: 10px;
  height: 34px;
  transition: all 0.3s ease;
}
form button:hover {
  background: #ff475fe7;
  color: white;
}

.trash-btn:disabled,
.edit-btn:disabled,
.complete-btn:disabled,
form button:disabled {
  opacity: 0.2;
}
.todo-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 310px;
}

.todo-list {
  min-width: 55%;
  list-style: none;
  overflow: hidden;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  text-align: center;
}
.todo li {
  flex: 1;
  font-size: 0.8em;
}

.trash-btn,
.edit-btn,
.incomplete-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 35px;
  width: 45px;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.edit-btn {
  background-color: rgba(128, 0, 128, 0.836);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-times,
.fa-check,
.fa-edit {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  height: 35px;
}
select {
  color: black;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 10rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background: #ff475fe7;
  cursor: pointer;
  pointer-events: none;
}

.flash-container {
  background-color: aliceblue;
  color: red;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.13);
  width: 300px;
  height: 10px;
  margin-left: 310px;
  text-align: center;
  z-index: 100;
  margin-top: -35px;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: "Assistant", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.6px;
}
